.detail-image {
    /* width: 500px !important */
    float: left;
    width:  1500px;
    height: 450px !important;
    object-fit: cover;
}

.detail-container {
    /* border: 1px solid red; */
    /* display: flex; */
}

.top >* {
    /* border: 1px solid black !important; */
    /* display: flex !important; */
}
.detail-row {
    /* border: 1px solid red; */
    margin-top: 1rem !important;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
     padding: .5rem;
}

svg {
    width: 20px;
}

.detail-button {
 /* border: 1px solid red !important; */
 /* background-color: none !important; */
 border: none !important;
}

.col {
   display: flex;
   flex-direction: column;
}

.filled {
    fill: #FED049
}

.empty {
    fill: rgb(165, 159, 159)
}